<% tag_cloud(@tagged_items, %w(x-small small medium large x-large)) do |tag, font_size| %>  <%= link_to(h("#{tag}"), {:controller=>'models',:action=>'tag',:id => tag}, { :style => "font-size: #{font_size}" } ) -%><% end %>