<div class="sub_head">
<h2>编辑模特资料</h2>
</div>
<%= form_tag(
      url_for(:controller => 'models', :action => 'update',:id => @model),
      'method' => 'post',
      'class' => 'two_columns',
      :multipart => true)%>
  <%= render :partial => 'form' %>
<%= end_form_tag %>
