<div class="featurebox">
    <div class="sider_title">模特分类。。。。。。</div>
    <ul class="sider_list">  
        <li><span class="news"><%=link_to '女模特',:controller => 'models',:action=>'girl' %></span></li>
        <li><span class="news"><%=link_to '男模特',:controller => 'models',:action=>'boy' %></span></li>
        <li><span class="news"><%=link_to '外籍模特',:controller => 'models',:action=>'foreign' %></span></li>
    </ul>
</div> 
