<div class="featurebox">
    <div class="sider_title">根据标签查找模特。。。。。。</div>
    <div id="tag_cloudy">
        <% tag_cloud(@tagged_items, %w(level-1 level-2 level-3 level-4 level-5)) do
        |tag, tag_class| %>  <%= link_to(h("#{tag}"),
          {:controller=>(current_controller == 'public' ? 'models' : current_controller ),:action=>'tag',:id => tag}, { :class => "#{tag_class}" } ) -%><% end %>
    </div>
    <div style="padding:10px;text-align:right;">&gt;&gt;<%= link_to '查看全部标签',:controller => 'models',:action=>'tags'%></div>
</div>
