<% for column in Const.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @const.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @const %> |
<%= link_to 'Back', :action => 'list' %>
