Thank you for joining <%= App::CONFIG[:site_name] %>.

Your user name: <%= @user.name %>
Your password: <%= @password %>

Your account is now activated. Please confirm the activation by logging on 
with the user name and password above within the next 7 days.

Login URL: <%= @login_url %>