You are receiving this email because you (or somebody else) 
have requested to reset the password for the <%= App::CONFIG[:site_name] %> 
account '<%= @user.name %>' that is registered with this email address.

Please click on the following URL and change your password:
<%= @reset_password_url %>

Note: this URL will be active only for <%= App::CONFIG[:security_token_life_hours] %> hours.
