<h3 class="web_title"><%= link_to @link.name,@link.url %>,友情链接申请成功</h3>
<div class="web_content">
<div class="model_url">本网站名：模特中国网</div>
<div class="model_url">链接地址：<input type="text" value="http://www.model-china.cn/links/show/<%=@link.id%>" size="70" onclick="this.select()" onfocus="this.select()" /></div>
<div style="color:red;margin-left:20px;">请您记住以上链接地址,不要填错,否则可能导致您的友情链接无法激活.</div>
<div class="model_url">logo地址：<input type="text" value="http://www.model-china.cn/images/logo.gif" size="70" onclick="this.select()" onfocus="this.select()" /></div>
<p style="color:green;">请您将以上链接添加到您的网站友情链接处,本站的友情链接会自动检测并激活.</p>
</div>