<div class="sub_head">
<h2>添加新的化妆师</h2>
</div>
<%= form_tag(
      url_for(:controller => 'makeups', :action => 'create'),
      'method' => 'post',
      'class' => 'two_columns',
      :multipart => true)%>
  <%= render :partial => 'form' %>
<%= end_form_tag %>
