<div id="content">
<div class="sub_head">
<h2>创建账户</h2>
<div class="sub_head_remark"> 如果已有一个 Model-china 帐户，可<%= link_to '在此登录', :controller => 'user',:action => 'login'%>。</div>
</div>
<%= render_partial 'edit_user', @user %>
</div>
<div id="sidebar">
</div>