<%= error_messages_for 'fav' %>

<!--[form:fav]-->
<p><label for="fav_remark">Remark</label><br/>
<%= text_area 'fav', 'remark'  %></p>

<p><label for="fav_created_at">Created at</label><br/>
<%= datetime_select 'fav', 'created_at'  %></p>
<!--[eoform:fav]-->

