<% for column in Fav.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @fav.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @fav %> |
<%= link_to 'Back', :action => 'list' %>
