您已经请求重新设置了 <%= App::CONFIG[:site_name] %> 的账号密码

账号：   <%= @login %>
密码：   <%= @newpass %>

您可以重新登录后,重新设置密码!

注意：请不要直接回复此邮件,请通过以下方式与我们联系,非常高兴为您服务.
---------------------------------------
联系人：kevin
Q   Q：14377166
Email/MSN/GTalk：hongtaolee@gmail.com

模特中国网 ( www.model-china.cn )

